{% extends "public/_base.html" %}

{% block container %}
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="container-md">
    <form method="POST" action="{{ url_for('login.register') }}">
      {{ form.hidden_tag() }}

      <div class="mb-3">
          {{ form.login.label(class_="form-label") }}
          {{ form.login(class_="form-control") }}
          {% for error in form.login.errors %}
              <p class="text-danger">{{ error }}</p>
          {% endfor %}
      </div>
      <div class="mb-3">
          {{ form.name.label(class_="form-label") }}
          {{ form.name(class_="form-control") }}
          {% for error in form.name.errors %}
              <p class="text-danger">{{ error }}</p>
          {% endfor %}
      </div>
      <div class="mb-3">
          {{ form.password.label(class_="form-label") }}
          {{ form.password(class_="form-control") }}
          {% for error in form.password.errors %}
              <p class="text-danger">{{ error }}</p>
          {% endfor %}
      </div>
      <div class="mb-3">
          {{ form.confirm_password.label(class_="form-label") }}
          {{ form.confirm_password(class_="form-control") }}
          {% for error in form.confirm_password.errors %}
              <p class="text-danger">{{ error }}</p>
          {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
  </form>
  </div>
</div>
{% endblock %}