{% extends "public/_base.html" %}

{% block container %}
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="container-md">
    <form method="POST" action="{{ request.full_path }}">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.login.label(class_="form-label") }}
        {{ form.login(class_="form-control", autofocus="autofocus") }}
        {% if form.login.errors %}
            {% for error in form.login.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}