{% extends "public/_base.html" %}

{% block container %}
<div class="row">
  <!-- Categories Section -->
  <div class="col-md-2 mt-4">
    <div class="card mb-3">
      <div class="card-header">{{ gettext("Device Categories") }}</div>
      <div class="card-body">
        <ul class="list-unstyled">
          {% for category in categories|sort(attribute='name') %}
          <li>
            <a href="{{ url_for('.devices', device_category=category.id) }}"
              class="{{ 'active text-primary' if selected_device_category == category.id|string else '' }}">
              {{ category.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="col-md-10">
    <!-- Device Header -->
    <div class="row mb-4 align-items-center">
      <div class="col-md-3 text-center">
        <img src="{{ url_for('static', filename='img/NES.png') }}" alt="TMP" class="img-fluid device-img">
      </div>
      <div class="col-md-9">
        <h1 class="display-4">{{ device.name }}</h1>
      </div>
    </div>
    <div class="container-fluid p-0">
      <!-- Framework Cards Section -->
      <section class="mb-5">
        <div class="row mb-3">
          <div class="col-12">
            <h2 class="border-bottom pb-2">{{ gettext("Device Frameworks") }}</h2>
          </div>
        </div>

        <div class="row g-4">
          {% for device_framework in device.device_frameworks %}
          <div class="col-md-4">
            <div class="card device-card shadow-sm h-100">
              <div class="card-header bg-light">
                {{ device_framework.name }}
              </div>
              <div class="card-body">
                <p class="card-text mb-1 small">{{gettext("Used in: ")}}</p>
                <p class="card-text mb-1 small">
                  <a href="{{ url_for('.lessons', framework=device_framework.slug) }}">
                    {{ gettext("%(lessons)s lessons", lessons=device_framework.lessons|length) }}
                  </a>
                </p>
                <p class="card-text mb-1 small">
                  <a href="{{ url_for('.simulations', device=device.id) }}">
                    {{ gettext("%(simulations)s simulations", simulations=device_framework.simulations|length if
                    device_framework.simulations else 0) }}
                  </a>
                </p>

                <ul class="list-unstyled">
                  {% for device_item in devices|sort(attribute='device.name') %}
                  <li>
                    {% if selected_device and selected_device == device_item.device.id %}
                    <span class="text-primary fw-bold">{{ device_item.device.name }}</span>
                    {% else %}
                    <a href="{{ url_for('.simulations', device=device_item.device.id, category=selected_category) }}">
                      {{ device_item.device.name }}
                    </a>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>

              </div>
              <div class="card-footer bg-transparent border-top">
                <p class="last-update mb-0 text-muted small">
                  {{ gettext("Last update: ") }}<span>{{ device_framework.last_updated.isoformat() }}</span>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}