{% extends "public/_base.html" %}

{% block container %}
<div class="row">
  <!-- Sidebar Section -->
  <div class="col-md-3">
    <!-- Categories Section -->
    <div class="card mb-4">
      <div class="card-header">{{ gettext("Categories:") }}</div>
      <div class="card-body">
        <ul class="list-unstyled">
          {% for category in all_categories %}
          <li>
            <a href="{{ url_for('.category', category_slug=category.slug) }}">
              {{ category.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>


    <!-- Devices Section -->
    <div class="card mb-4">
      <div class="card-header">Devices:</div>
      <div class="card-body">
        <!-- Clean Up with forloop after finalizing devices-->
        <ul class="list-unstyled">
          <li>
            <a href="#">DE1-SoC</a>
            <ul>
              <li><a href="#">VHDL</a></li>
              <li><a href="#">SystemVerilog</a></li>
            </ul>
          </li>
          <li>
            <a href="#">STM32</a>
            <ul>
              <li><a href="#">mbedOS</a></li>
              <li><a href="#">STM32Cube</a></li>
            </ul>
          </li>
          <li><a href="#">[...]</a></li>
        </ul>
      </div>
    </div>

    <!-- Level Section -->
    <div class="card mb-4">
      <div class="card-header">Level:</div>
      <div class="card-body">
        <!-- Clean Up with forloop after finalizing level -->
        <ul class="list-unstyled">
          <li><a href="#">Advanced</a></li>
          <li><a href="#">[...]</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="col-md-9">
    <h1 class="text-center">
      {{ gettext("Lesson: %(lesson_name)s", lesson_name=lesson.name) }}
    </h1>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- TODO: Make a for loop to grab both videos and images and prioritize videos -->
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='img/NES.png') }}" class="d-block w-70" alt="...">
        </div>
      </div>
      <!-- Previous Button (with Icon) -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{{ gettext("Previous") }}</span>
      </button>
      <!-- Next Button (with Icon) -->
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{{ gettext("Next") }}</span>
      </button>
    </div>

  </div>
</div>
{% endblock %}