{% extends "public/_base.html" %}

{% block container %}
<div class="row">
  <!-- Sidebar Section -->
  <div class="col-md-2">
    <!-- Categories Section -->
    <div class="card mb-3">
      <div class="card-header">{{ gettext("Categories:") }}</div>
      <div class="card-body">
        <ul class="list-unstyled">
          {% for category in all_categories %}
          <li><a href="{{ url_for('.lessons', category=category.slug) }}">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Devices Section -->
    <div class="card mb-4">
      <div class="card-header">Devices:</div>
      <div class="card-body">
        <!-- Clean Up with forloop after finalizing devices-->
        <ul class="list-unstyled">
          <li>
            <a href="#">DE1-SoC</a>
            <ul>
              <li><a href="#">VHDL</a></li>
              <li><a href="#">SystemVerilog</a></li>
            </ul>
          </li>
          <li>
            <a href="#">STM32</a>
            <ul>
              <li><a href="#">mbedOS</a></li>
              <li><a href="#">STM32Cube</a></li>
            </ul>
          </li>
          <li><a href="#">[...]</a></li>
        </ul>
      </div>
    </div>

    <!-- Level Section -->
    <div class="card mb-4">
      <div class="card-header">Level:</div>
      <div class="card-body">
        <!-- Clean Up with forloop after finalizing level -->
        <ul class="list-unstyled">
          <li><a href="#">Advanced</a></li>
          <li><a href="#">[...]</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="col-md-9">
    <h1 class="text-center">{{ gettext("Lessons") }}</h1>
    <!-- Temp Data for Testing -->
    <div class="row row-cols-1 row-cols-md-3 g-2">
      {% for lesson in lessons %}
      <div class="col">
        <div class="card" style="width: 90%;">
          <img src="{{ url_for('static', filename='img/NES.png') }}" class="card-img-top" alt="temp">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ url_for('.lesson', lesson_slug=lesson.slug ) }}" class="stretched-link text-decoration-none">
                {{ lesson.name }}
              </a>
            </h5>
            <p class="card-text">{{ lesson.short_description }}</p>
          </div>
          <div class="card-footer">
            <p class="card-text"><small class="text-body-secondary">Last Updated: {{ lesson.last_updated }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}