{% extends "public/_base.html" %}

{% block container %}
<div class="row">
  <!-- Sidebar Section -->
  <div class="col-md-2 mt-4">
    <!-- Categories Section -->
    <div class="card mb-3">
      <div class="card-header">{{ gettext("Categories:") }}</div>
      <div class="card-body">
        <ul class="list-unstyled">
          {% for category in all_categories %}
          <li><a href="{{ url_for('.simulations', category=category.slug) }}">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Devices Section -->
    <div class="card mb-4">
      <div class="card-header">Devices:</div>
      <div class="card-body">
        <!-- Clean Up with forloop after finalizing devices-->
        <ul class="list-unstyled">
          <li>
            <a href="#">DE1-SoC</a>
            <ul>
              <li><a href="#">VHDL</a></li>
              <li><a href="#">SystemVerilog</a></li>
            </ul>
          </li>
          <li>
            <a href="#">STM32</a>
            <ul>
              <li><a href="#">mbedOS</a></li>
              <li><a href="#">STM32Cube</a></li>
            </ul>
          </li>
          <li><a href="#">[...]</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="col-md-9">
    <h1 class="text-center">Simulations</h1>
    <!-- Temp Data for Testing -->
    {% set simulations = ["Parking Lot", "NES Controller", "Door", "Keypad"] %}
    <div class="row row-cols-1 row-cols-md-3 g-2">
      {% for simulation in simulations %}
      <div class="col">
        <div class="card" style="width: 90%;">
          <img src="{{ url_for('static', filename='img/NES.png') }}" class="card-img-top" alt="temp">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ simulation['video'] }}" class="stretched-link text-decoration-none" target="_blank">
                {{ simulation }}
              </a>
            </h5>
            <p class="card-text">Placeholder</p>
            <ul class="list-group list-group-flush">
              <!-- Update place holder counts for values -->
              <li class="list-group-item"> x documents</li>
              <li class="list-group-item">y lessons</li>
              <li class="list-group-item">z devices</li>
            </ul>
          </div>
          <div class="card-footer">
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}